﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @User.Identity.Name</h1>
    <p>Codigo projeto: <a href="https://gitlab.com/paulosfjunior/desafio-backend" target="_blank">Desafio BackEnd</a>.</p>
</div>
