﻿@model Agendamento.Models.AgendaModel

<form asp-action="AgendaUpdate">
    <input asp-for="Id" hidden />
    <br/>
    <div class="container border p-3">
        <h1 class="text-primary">Atualizar Agendamento</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Cep" class="control-label pt-2" style="font-size=20px;"></label>
            </div>
            <div class="col-8 pb-3">
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger" />
            </div>
            <div class="col-2">
                <a class="btn btn-warning" onclick="pesquisa_cep();" style="width: 100%">
                    <i class="bi bi-search"></i> Pesquisar
                </a>
            </div>
            <div class="col-2">
                <label asp-for="Logradouro" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Logradouro" class="form-control" />
                <span asp-validation-for="Logradouro" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Numero" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Complemento" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Bairro" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Cidade" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Estado" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Pais" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Observacao" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="InicioPrevisto" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="InicioPrevisto" class="form-control" />
                <span asp-validation-for="InicioPrevisto" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="FimPrevisto" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="FimPrevisto" class="form-control" />
                <span asp-validation-for="FimPrevisto" class="text-danger"></span>
            </div>
             <div class="col-2">
                <label asp-for="InicioReal" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="InicioReal" class="form-control" />
                <span asp-validation-for="InicioReal" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="FimReal" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="FimReal" class="form-control" />
                <span asp-validation-for="FimReal" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="AgendaIndex" class="btn-primary btn form-control ">Cancelar</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Confirmar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_PesquisaCep" />
}