﻿@model Agendamento.Models.AgendaModel

<form asp-action="AgendaDelete">
    <input asp-for="Id" hidden />
    <br/>
    <div class="container border p-3">
        <h1 class="text-primary">Apagar Agendamento</h1>

        <hr/>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Cep" class="control-label pt-2" style="font-size=20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Cep" class="form-control"disabled/>
            </div>
            <div class="col-2">
                <label asp-for="Logradouro" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Logradouro" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="Numero" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Numero" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="Complemento" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Complemento" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="Bairro" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Bairro" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="Cidade" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Cidade" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="Estado" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Estado" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="Pais" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Pais" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="Observacao" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Observacao" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="InicioPrevisto" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="InicioPrevisto" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="FimPrevisto" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="FimPrevisto" class="form-control" disabled/>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="AgendaIndex" class="btn-primary btn form-control ">Cancelar</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Confirmar" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}