﻿@model List<Agendamento.Models.AgendaModel>

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Agendamentos</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="AgendaCreate" class="btn btn-outline-primary">
                <i class="bi bi-calendar2-plus"></i> Criar Agendamento
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Cep
                </th>
                <th>
                    Endereço
                </th>
                <th>
                    Inicio Previsto
                </th>
                <th>
                    Fim Previsto
                </th>
                <th>
                    Fim Real
                </th>

                <th>
                    Usuário
                </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Cep
                    </td>
                    <td>
                        @item.Logradouro, @item.Numero
                    </td>
                    <td>
                        @item.InicioPrevisto.ToString("dd/MM/yyyy hh:mm")
                   </td>
                   <td>
                        @item.FimPrevisto.ToString("dd/MM/yyyy hh:mm")
                   </td>
                   <td>
                        @item.FimReal
                   </td>
                   <td>
                        @item.Usuario
                    </td>
                   <td>
                       <a asp-action="AgendaUpdate" class="btn btn-warning" asp-route-id="@item.Id" style="width: 40%;">
                           <i class="bi bi-pencil-fill"></i>
                       </a>
                       <a asp-action="AgendaDelete" class="btn btn-danger" asp-route-id="@item.Id" style="width: 40%;">
                           <i class="bi bi-trash-fill"></i>
                       </a>
                   </td>
                </tr>
            }
        </tbody>
    </table>
</div>